body
{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
h1
{
    color: #763AFE;
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgreen;
    width: 100%;
    margin: 0;
}

@media (max-width: 320px) {
    h1 {
        font-size: 60px;
        color: red;
    }
}

h2
{
    color: #763AFE;
    font-size: 30px;
}

h3
{
    color: #FFFFFF;
    font-size: 25px;
}

.header
{
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 0;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
}

.icons
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-fpt
{
    width: 30px;
    height: 30px;
    margin: 5px;
    fill: #763AFE;
}

.text-now
{
    fill: #fff;
}

.header-background
{
    /*background-image: url(img/herobanner.jpg);*/
    width: 100%; 
}

img
{
    width: 100%;
    object-fit: fill;
    position: relative;
}

.box
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.box-now
{
    width: 600px;

    border: 1px solid violet;
}

.box-nav
{
    border: 1px solid red;
    
}

.ul
{
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #fff;
    list-style-type: none;
    height: 30px;
    line-height: 200%;
    display: inline-block;
}

.ul a
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.ul > .li
{
    float:left;
    width: 120px;
    height: 35px;
    text-align: center;
}

.about
{
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-bottom: 50px;
}

.about-img
{
    width: 85%;
}

.about-text 
{
    font-size: 12px;
    color: #4C4C4C;
    line-height: 20px;
    font-weight: 500;
}

.gallery-text
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery-text
{
    font-size: 11px;
    color: #4C4C4C;
    font-weight: 500;
    vertical-align: center;
}

.open
{
    background-image: url(img/panel.jpg);
    padding-top: 100px;
}

.open-text
{
    font-size: 30px;
    color: #FFFFFF;
    font-weight: lighter;
    vertical-align: center;
}

.s-c-box
{
    background-image: linear-gradient(#E0CEFE, #A87AFF, #7D40FF);
    padding-bottom: 50px;
}

.services-ul
{
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #fff;
    list-style-type: none;
    height: 30px;
    line-height: 200%;

}

.services-ul a
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.services-ul > .services-li
{
    width: 120px;
    height: 30px;
    text-align: center;
}

.building
{
    width: 40%;
    float: left;
    margin: 10px;
}

.services-text
{
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.hello-text
{
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.button
{
    background-color: #fff;
    border: none;
    color: ##763AFE;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 250px;
}

.input
{
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}